@media (min-width: 450px) {
  .intro-container {
    flex-direction: row;
    max-width: 1520px;
  }
  .intro-container img {
    min-height: 400px;
  }
}

@media (min-width: 900px) {
  /* header  */
  .hamburger-btn {
    display: none;
  }

  .header-container {
    max-width: 1600px;
    padding: 0px 25px;
    margin: auto;
    height: 100px;
  }
  nav {
    position: static;
    display: block;
    transform: translateX(0);
    border: 0;
    text-align: center;
    min-width: 600px;
  }
  nav a {
    display: inline-block;
    border-bottom: 0;
    padding: 0px 20px;
    text-align: center;
  }
  .logo-header {
    text-align: left;
  }

  /* footer  */
  footer {
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 30px;
  }
  .footer-contact_container {
    text-align: left;
  }
  .footer-contact-info {
    flex-direction: column;
    gap: 0;
  }
  .border {
    width: 2px;
    height: 70px;
  }
}
