@media (min-width: 420px) {
  /* intro-container  */
  .intro-container {
    flex-direction: row;
    max-width: 1570px;
  }
  .intro-container img {
    min-height: 400px;
  }
  /* latest post  */
  .latest-posts {
    flex-direction: row-reverse;
  }
  .cards-container {
    max-height: 460px;
    flex-direction: row;
    gap: 50px;
  }
  .latest-posts .btn {
    display: none;
  }
  .circle-btn {
    display: block;
  }
  .left_circle-btn {
    order: 1;
  }
}

@media (min-width: 870px) {
  /* header  */
  .hamburger {
    display: none;
  }

  .header-container {
    max-width: 1600px;
    padding: 10px 25px 0px 10px;
    margin: auto;
    height: 80px;
    text-align: left;
  }
  nav {
    position: static;
    display: block;
    transform: translateX(0);
    border: 0;
    text-align: center;
    min-width: 600px;
  }
  nav a {
    display: inline-block;
    border-bottom: 0;
    padding: 0px 20px;
    text-align: center;
  }

  /* footer  */
  footer {
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 30px;
  }
  .footer-contact_container {
    text-align: left;
  }
  .footer-contact-info {
    flex-direction: column;
    gap: 0;
  }
  .border {
    width: 2px;
    height: 70px;
  }

  .cards-container {
    max-width: 550px;
  }

  /* blog-posts page  */

  .blog-post_container {
    grid-template-areas:
      " one two three four"
      "five five six six"
      "seven eight nine ten"
      "eleven eleven twelve twelve";
    grid-template-rows: (4, 1fr);
    grid-template-columns: (4, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards-container {
    max-width: 850px;
  }
}
