@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/links.css";
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
}
main {
  padding: 20px 10px;
}
body,
nav {
  background-color: var(--septenary-color);
}

img {
  width: 100%;
  display: block;
}
/* header */
.header-container {
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

nav {
  position: fixed;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.5;
  min-width: 300px;
  left: 0px;
  border: 2px solid var(--quaternary-color);
  border-width: 2px 2px 0 0;
}
nav a {
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  border-bottom: 2px solid var(--quaternary-color);
}
.current {
  text-decoration: underline;
}
.show-menu {
  transform: translateX(0%);
}
.hamburger {
  position: absolute;
  left: 5px;
  top: 6px;
}
.hamburger-btn {
  border: none;
  background: none;
}

/* footer  */
footer * {
  margin: 2px;
}
footer {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  border-top: 2px solid var(--quaternary-color);
}

.footer-logo_container {
  padding-bottom: 10px;
}
.footer-logo_container,
.footer-contact-info {
  max-width: 300px;
}
.footer-contact-info {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer-contact-info h3,
.footer-contact-info p {
  margin: 3px 0px;
}

.border {
  content: "";
  width: 300px;
  height: 2px;
  background-color: var(--quaternary-color);
}
/* container  */
.intro-text {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.intro-text * {
  margin: 0px;
}
.text-container_text {
  text-align: left;
}
.text-container_text > * {
  margin: 10px 0px;
  padding: 3px;
}

/* intro-container  */
.intro-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}
.intro-container > * {
  flex: 1;
}
.intro-container img {
  object-fit: cover;
}
.intro-container .intro-text {
  background: var(--senary-color);
  min-height: 250px;
  align-items: center;
}
.intro-container .text-container_text > * {
  margin: 20px 0px;
}
.shortened-p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 300px;
}
/* latest posts  */

.latest-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: row-reverse;
}
.latest-posts h2 {
  flex: 0 0 100%;
  text-align: center;
  font-size: 1;
}
.left_circle-btn {
  order: 1;
}
.cards-container {
  display: flex;
  max-width: 200px;
  overflow: hidden;
  order: 1;
  gap: 50px;
  margin: 0px 20px;
  scroll-behavior: smooth;
}

/* card  */
.card {
  height: 330px;
  min-width: 200px;
  margin: 50px 0px;
  background-color: var(--quinary-color);
  border-radius: 15px;
}

.card img {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 15px;
  position: relative;
  top: -30px;
  box-shadow: 0px 2px 5px 2px rgba(34, 34, 34, 0.775);
}
.card .intro-text {
  position: relative;
  top: -30px;
  padding-left: 20px;
}
