@import "imports/variables.css";

.logo {
  font-family: "Pompiere";
  font-size: 2.5rem;
  color: rgb(138, 129, 129);
  font-weight: lighter;
}
p {
  font-family: var(--font-nav);
  font-weight: 500;
  font-size: 1.2em;
}
