nav a {
  font-size: 1.3em;
  text-decoration: none;
}
.cta {
  font-weight: bold;
}
.cta:hover {
  background: var(--tertiary-color);
  border-radius: 5%;
}
.hamburger {
  cursor: pointer;
}
.logo {
  text-decoration: none;
}
