a {
  text-decoration: underline;
  color: var(--primary-color);
}

nav a {
  font-size: 1.3em;
}
.cta {
  font-weight: bold;
  transition: all ease-in 0.3s;
  max-width: 96px;
}
.cta:hover {
  background: var(--septenary-color);
  border-radius: 3px;
}
.hamburger {
  cursor: pointer;
  font-size: 65px;
  color: var(--quaternary-color);
}
.logo {
  text-decoration: none;
}

.btn,
.circle-btn {
  background: #e9465c;
  color: var(--septenary-color);
}
.btn {
  font-size: 15px;
  padding: 7px 15px;
  min-width: 111px;
  transition: all ease-in 0.3s;
  border: 2px solid #e9465c;
}

.circle-btn {
  font-size: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.btn:hover,
.circle-btn:hover {
  color: #e9465c;
  background-color: var(--septenary-color);
  cursor: pointer;
}
