:root {
  --font-heading: "Vollkorn";
  --font-paragraph: "Roboto";
  --font-logo: "Pompiere";
  --primary-color: #000;
  --secondary-color: #4e4e4e;
  --tertiary-color: #7d646a;
  --quaternary-color: #402828;
  --quinary-color: #f0e9d7;
  --senary-color: #d9d7d2;
  --septenary-color: #f7f7f7;
}
